/* Load Matugen colors */
@import "colors.css";

/* Window */
window,
window:disabled, 
window:backdrop {
    background-color: alpha(@window_bg_color, 0.9) ;
}
.thunar .sidebar .view,
.sidebar-pane,
.sidebar-pane:disabled,
.sidebar-pane:backdrop {
    background-color: alpha(@window_bg_color, 0.10) ;
}

/* Headerbar */
headerbar,
headerbar:disabled,
headerbar:backdrop {
	background-color: alpha(@window_bg_color, 0.10)
    border-bottom: 1px solid alpha(@window_fg_color, 0.1);
}

/* Selected files */
.view:selected,
.view:selected:focus {
    border-radius: 6px ;
}

/* Buttons */
button {
    border-radius: 5px ;
}

/* Scrollbars */
scrollbar slider {
    background-color: alpha(@accent_color, 0.5) ;
    border-radius: 15px;
}


/* icon styles */
.thunar .view .cell:hover {
  color: @accent_fg_color;
}
.thunar .view .cell {
  border-radius: 8px;
  background: alpha(@window_bg_color, 0.1);
  color: @window_fg_color;
}

.thunar,
.thunar:disabled,
.thunar:backdrop {
  background: alpha(@window_bg_color, 0.9),
}
.thunar toolbar {
  background: alpha(@card_bg_color,0.5);
  padding: 8px 10px;
  border-top: 1px solid @window_bg_color;
}
/* toolbar back btns and stuff */
.thunar toolbar .image-button {
  color: @window_fg_color;
}
/* input bar */
.thunar toolbar toolitem widget box entry {
  color: @window_fg_color;
  background: alpha(@card_bg_color, 0.50);
}
/* sidebar */
.thunar .sidebar {
  background: alpha(@sidebar_bg_color, 0.20);
  color: @window_fg_color;
  border-radius: 0px;
}
/* main body */
.thunar notebook .view {
  background: alpha(@window_bg_color, 0)
}
/* bottom right section */
.thunar statusbar {
  color: @window_fg_color;
  background: alpha(@card_bg_color, 0.10);
}
