/* Load Matugen colors */
@import "libadwaita.css";
@import "libadwaita-tweaks.css";
@import "colors.css";

/* Window */
window {
    background-color: alpha(@window_bg_color, 0.9) ;
}

.sidebar-pane,
.sidebar-pane:disabled,
.sidebar-pane:backdrop {
    background-color: alpha(@surface_container_high, 0.10) ;
}

/* Selected files */
.view:selected,
.view:selected:focus {
    border-radius: 6px ;
}

/* Buttons */
button {
    border-radius: 5px ;
}

/* Scrollbars */
scrollbar slider {
    background-color: alpha(@accent_color, 0.5) ;
    border-radius: 15px;
}
