@import "/home/zek/.config/waybar/colors.css";

window#osd {
  font-family: Symbols Nerd Font, AporeticSerifMono Nerd Font, sans-serif;
  border-radius: 5px;
  border: 2px solid alpha(@outline,0.25);
  background: @background;
  font-size:14px;
}
window#osd #container {
  margin: 16px;
}
window#osd image,
window#osd label {
  color: @on_surface;
}
window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}
window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 5px;
  background: transparent;
  border: none;
}
window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @surface_container;
}
window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: @primary;
}
window#osd segment {
  margin-left: 8px;
}
window#osd segment:first-child {
  margin-left: 0;
}
